USE [master]
GO
/****** Object:  Database [QLDanCu]    Script Date: 5/12/2024 10:38:04 AM ******/
CREATE DATABASE [QLDanCu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDanCu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLDanCu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDanCu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLDanCu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDanCu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDanCu]
GO
/****** Object:  Table [dbo].[ChuHo]    Script Date: 5/12/2024 10:38:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuHo](
	[MaChuHo] [nchar](10) NOT NULL,
	[TenChuHo] [nchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [bit] NULL,
	[QueQuan] [nchar](10) NULL,
	[DanToc] [nchar](10) NULL,
	[TonGiao] [nchar](10) NULL,
	[SoCMND/CCCD] [decimal](18, 0) NULL,
	[NgheNghiep] [nchar](10) NULL,
	[NoiLamViec] [nchar](10) NULL,
	[NgayChuyenDen] [nchar](10) NULL,
	[NoiThuongTru] [nchar](10) NULL,
	[TinhTrangHonNhan] [nchar](10) NULL,
 CONSTRAINT [PK_ChuHo] PRIMARY KEY CLUSTERED 
(
	[MaChuHo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 5/12/2024 10:38:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[MaVung] [nchar](10) NOT NULL,
	[TenTinh/ThanhPho] [nchar](10) NULL,
	[TenQuan/Huyen] [nchar](10) NULL,
	[TenPhuong/Xa] [nchar](10) NULL,
	[SoNha] [nchar](10) NULL,
	[TenThon/Xom] [nchar](10) NULL,
 CONSTRAINT [PK_DiaChi] PRIMARY KEY CLUSTERED 
(
	[MaVung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiDap]    Script Date: 5/12/2024 10:38:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiDap](
	[MaHoiDap] [nchar](10) NOT NULL,
	[NoiDungCauHoi] [nchar](10) NULL,
	[NoiDungTraLoi] [nchar](10) NULL,
	[MaTaiKhoan] [nchar](10) NULL,
 CONSTRAINT [PK_HoiDap] PRIMARY KEY CLUSTERED 
(
	[MaHoiDap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoKhau]    Script Date: 5/12/2024 10:38:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoKhau](
	[MaHoKhau] [nchar](10) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[NgayChuyenDi] [datetime] NULL,
	[MaTaiKhoan] [nchar](10) NULL,
	[MaChuHo] [nchar](10) NULL,
	[MaVung] [nchar](10) NULL,
 CONSTRAINT [PK_HoKhau] PRIMARY KEY CLUSTERED 
(
	[MaHoKhau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanKhau]    Script Date: 5/12/2024 10:38:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanKhau](
	[MaNhanKhau] [nchar](10) NOT NULL,
	[HoTen] [nchar](10) NULL,
	[QHVoiChuHo] [nchar](10) NULL,
	[SoCMND/CCCD] [decimal](18, 0) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[TrinhDoHocVan] [nchar](10) NULL,
	[NgheNghiep] [nchar](10) NULL,
	[TonGiao] [nchar](10) NULL,
	[DiaChiTT] [nchar](10) NULL,
	[TinhTrangHonNhan] [nchar](10) NULL,
	[DanToc] [nchar](10) NULL,
	[MaHoKhau] [nchar](10) NULL,
 CONSTRAINT [PK_NhanKhau] PRIMARY KEY CLUSTERED 
(
	[MaNhanKhau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/12/2024 10:38:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [nchar](10) NOT NULL,
	[Ho] [nchar](10) NULL,
	[Ten] [nchar](10) NULL,
	[SoDT] [nchar](10) NULL,
	[Email] [nchar](10) NULL,
	[AnhChanDung] [nchar](10) NULL,
	[MatKhau] [char](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 5/12/2024 10:38:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [nchar](10) NOT NULL,
	[NoiDungThongBao] [nchar](10) NULL,
	[MaTaiKhoan] [nchar](10) NULL,
 CONSTRAINT [PK_ThongBao] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
